.tag {
  border: 1px solid rgba(112, 112, 112, 0.17);
  position: relative;
  background-color: #fff;
  border-radius: .25rem;
  //padding: 1.25rem 0 0 0;
  padding: 1.25rem 0 1.25rem 0;

  &__header {
    padding: 0 1.25rem;
    margin-bottom: 10px;
  }

  &__title-group {
    display: flex;
  }

  &__title {
    color: #212529;
    font-size: 18px;
    margin: 0 auto 0 0;
    line-height: 29px;
    width: 70%;
    flex: 0 0 70%;
  }

  &__input {
    font-weight: 500;
    font-family: Roboto, sans-serif;
    border: none;
    outline-color: #67a8e4;
    border-radius: 4px;
    &--visible {
      height: 33px;
      border: 2px solid #b2d3f1;
      outline: none;
    }
  }

  &__rooms-count {
    color: #8c96a3;
    font-size: 13px;
    display: block;
    margin-bottom: 15px;
  }

  &__controls-group {
    display: flex;
    justify-content: space-between;
  }

  &__room-list-empty {
    position: absolute;
    display: flex;
    height: 370px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #8c96a3;
    font-size: 14px;
  }

  &__room-list {
    margin: 0;
    list-style: none;
    //padding: 0 0 1.25rem 0;
    padding: 0;
    min-height: 370px;
    max-height: 370px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;

    &::-webkit-scrollbar {
      width: 6px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-track {
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: #8c96a3;
      outline: 1px solid slategrey;
    }
  }

  .tag__room-list--dragging-over {
      background: #f1f1f1;
  }
}
