.wrapper {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.tag-list {
  max-width: 1000px;
  padding: 0;
  margin: 0 -10px 0 -10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  user-select: none;

  &__item {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    flex: 0 0 33.333%;
    max-width: 33.333%;
    width: 100%;
    margin: 0 0 20px 0;
  }
}
