.room {
  //margin: -1px 0 -1px 0;
  margin: 0;
  padding: 0 1.25rem;
  list-style: none;
  //background: #fff;
  outline: none;
  &__content {
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    //&::after {
    //  content: '';
    //  width: 40px;
    //  height: 1px;
    //}
  }

  &:first-child {
    .room__content {
      border-top: 1px solid #e7e7e7;
    }
  }
  &__avatar, &__avatar--fake {
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
  }

  &__avatar--fake {
    background: #abd1f3;
  }

  &__name {
    font-size: 16px;
    line-height: 40px;
    color: #333333;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  //&__bridge-name {
  //  display: block;
  //  color: #a9a9a9;
  //  font-size: 12px;
  //  position: absolute;
  //  margin-top: 12px;
  //  right: 7px;
  //  top: 0;
  //}

  &--selected {
    //background: #f1f1f1;
    background: #e7f1ff;
  }

  &--ghosting {
    opacity: 0.6;
  }

  &--dragging {
    .room__content {
      border-bottom: none;
      border-top: none;
    }
    background: #fff;
    border: 1px solid #e7e7e7;
  }

  &__selection-count {
    right: -8px;
    top: -8px;
    color: #fff;
    background: #519ce0;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    font-size: 0.8rem;
  }
}
